body {
    background: #0b0c10;;
    font-family: 'IBM Plex Mono', monospace;

}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both; 
}

.div1 {
    padding-top: 40px;
    padding-bottom: 40px;  
}

.voice {
    background-color: #1f2833;
    height: 250px;
    width: 200px;
    margin-top: 10px;
    padding-top:20px;
    text-align: center;
    border: 2px solid;
    border-radius: 10%;
    border-color: #45a29e;
    transition: margin 0.5s ease-out;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.voice:hover {
    cursor: pointer;
    background-color: #66fcf1;
    color: #000000;
    margin-top: 0px;
    box-shadow: 0 8px 16px 0 #696969;

}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInTop {
-webkit-animation-name: fadeInTop;
animation-name: fadeInTop;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.prgoress_container{
	background-color:#ffffff;
	border-radius: 10px;	
    border-color: #45a29e;
	height: 75px;
	overflow:hidden;
    margin-left: 20%;
	margin-top: 100px;
    margin-bottom: 15px;
    width: 60%;
}

.progress_bar {
    height:100%;
	width:0;
	float:left;
    background-color: #66fcf1;

}

.continue {
    background-color: #1f2833;
    width: 15%;
    margin-top: 100px;
    border: 2px solid;
    border-color: #45a29e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: none;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 42.5%;
    min-width: 120px;
  }

.continue:hover, .next-button:hover, .prev-button:hover {
    color:black;
    background-color: #66fcf1;
    cursor: pointer;
}

.tab {
    margin-top: 5%;
    display: none;
  }

.show {
    display: block;
}

.txtbox {
    border: 2px solid;
    border-radius: 10px;
    border-color: #45a29e;
	height: 75px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
	overflow: hidden;
    margin-left: 20%;
	margin-top: 75px;
    margin-bottom: 15px;
    width: 60%;
}

.dropdown {
    border: 2px solid;
    border-radius: 10px;
    border-color: #45a29e;
	height: 75px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
	overflow: hidden;
    margin-left: 20%;
	margin-top: 75px;
    margin-bottom: 15px;
    width: 60%;
}

.label-radio {
    display: block;
    position: relative;
    padding-left: 40%;
    width: 20%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.hiddenradio [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  .hiddenradio [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

.next-button {
    background-color: #1f2833;
    width: 15%;
    margin-top: 100px;
    border: 2px solid;
    border-color: #45a29e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    float: right;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-right: 15%;    
    min-width: 120px;
}

.prev-button {
    background-color: #1f2833;
    width: 15%;
    margin-top: 100px;
    border: 2px solid;
    border-color: #45a29e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    float: left;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-left: 15%;    
    min-width: 120px;
}

.video {
    align-content: center;
    margin-left: 25%;
    width: 50%;
}